@font-face{
  font-family: digital;
  src: url('./digital-7.ttf');
}

body{
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #0b0b0c;
}

/* background */
.main{
  margin: auto;
  padding: 20px 50px;
  width: 830px;
  display: grid;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(7, 110px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  user-select: none;
}

.heading{
    grid-area: 1 / 3 / 2 / 7;
    margin: auto;
}

.title {
  font-size: 50px;
  color: #fff;
  text-align: center;
  animation: glowText 1s ease-in-out infinite alternate;
  font-family: digital;
}

#board{
  grid-area: 2 / 3 / 6 / 7;
  display: grid;
  grid-template-columns:  90px 90px 90px 90px;
  grid-template-rows:  90px 90px 90px 90px;
  grid-gap: 15px;
  padding: 20px;
  width: 405px;
  border-radius: 5px;
  background-color: #152b7d;
  margin: auto;
  overflow:hidden;
}


#instruction{
  grid-area: 2 / 1 / 6 / 3;
}

#instruction p{
  font-family: monospace;
  color: #39ff14;
  font-size: 24px;
}

#instruction .restart{
  color: #39ff14;
  font-size: 35px;
  position: relative;
  top: 3px;
}

#instruction .restart:hover{
  cursor: pointer;
  animation: spin 2s linear infinite;
}

#score-board{
  font-family: digital;
  color: #fff;
  grid-area: 2 / 7 / 6 / 8;
  font-size: 30px;
}

.block{
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 42px;
    line-height: 90px;
    border-radius: 4px;
    color: #090327;
}

/* block style */
/* 226,244,199,
   234,227,116,
   249,214,46,
   252,145,58,
   255,78,80,
   255,190,79,
   107,210,219,
   14,167,181,
   12,69,125,
   232,112,42 */

.block-0{
    background-color: rgb(226,244,199);
}

.block-2{
    background-color: rgb(234,227,116);
}

.block-4{
    background-color: rgb(249,214,46);
}

.block-8{
    background-color: rgb(252,145,58);
}

.block-16{
    background-color: rgb(255,78,80);
}

.block-32{
    background-color: rgb(255,190,79);
}

.block-64{
    background-color: rgb(107,210,219);
}

.block-128{
    background-color: rgb(14,167,181);
}

.block-256{
    background-color: rgb(12,69,125);
}

.block-512{
    background-color: rgb(232,112,42);
}

.block-1024{
    background-color: rgb(218, 51, 78);
    font-size: 27px;
    animation: glowing 4s infinite;
}

.block-2048{
    background-color: #e4ff00;
    font-size: 27px;
    animation: pulse 2s infinite;
}

#game-over{
  display: none;
  position: absolute;
  width: 445px;
  height: 445px;
  transform: translate(-20px, -20px);
  z-index: 3;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  animation: zoomIn 2s 2s both;
}

.game-over-content{
  margin-top: 30%;
}

.game-over-msg{
  font-family: digital;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #d61e1e;
  text-align: center;
}

.restart-btn{
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

/* --------------------------------------------------------------- */
/* ----------------------- animation ----------------------------- */
/* --------------------------------------------------------------- */

.fadeInRight{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px,0,0);
  }

  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -5px #c4a300; }
  40% { box-shadow: 0 0 10px #c4a300; }
  60% { box-shadow: 0 0 10px #c4a300; }
  100% { box-shadow: 0 0 -5px #c4a300; }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes glowText {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}